
@{
    ViewBag.Title = "Slider";
    ViewBag.SubTitle = "Home Page Slider Settings";
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">Add New Slide</h3>
            <div class="tile-body">
                <form action="">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label">Title</label>
                                <input class="form-control" type="text" placeholder="Enter Slide Title">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Content</label>
                                <textarea class="form-control" rows="12" placeholder="Enter Slide Content"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Insert Slide Image</label>
                                <input class="form-control" type="file">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Display Order Priority</label>
                                <input class="form-control" type="text" placeholder="1 is higher than 100">
                            </div>
                            <div class="toggle lg">
                                <label>
                                    Public
                                    <input type="checkbox"><span class="button-indecator"></span>
                                </label>
                            </div>
                            <div class="tile-footer">
                                <button class="btn btn-primary pull-right" type="button">Publish</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



