@model IEnumerable<ScratchWebsite.Areas.Admin.Models.UserViewModel>
@{
    ViewBag.Title = "Users";
}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">All Users</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)    
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.UserName</td>
                                <td>@item.Email</td>
                                <td>@Html.ActionLink("Get", "Get", new { id = item.Id })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

